
<img src="assets/images/planet_api.png" class="shadow-image">

<h1 class="welcome-header">Planet API</h1>
<p>Planet API is a 2D planet sprite generator. Our internal process procedurally generate surfaces, map them to a true sphere, to finally render a planet at 1080x1080 with transparent background. Lighting and solar effect can be added via one of the SDKs.</p>

<h2 class="header">API Key</h2>
<p>This API currently under heavy development. During this phase, <b>it can be accessed for free.</b> <br> <a href="https://discord.gg/SEGApgznjq">Request an API key over here</a>.</p>

<h2 class="header">Python SDK</h2>
Unlock the full potential of the API with the <a href="https://planet.joffreybvn.be/python-sdk/index.html">Python SDK</a>. Get sprites programmatically and apply directly masks, lightning and shadow effects.

<h2 class="header">Pre-generated packs</h2>
<p>You can directly get pre-generated sets of planets sprites from <a href="https://itch.io/">Itch.io</a>. Many of them are free !</p>
<iframe frameborder="0" src="https://itch.io/embed/1518130?linkback=true" width="100%" height="167"><a href="https://joffreybvn.itch.io/planets-pack1">240+ 2D Planets Pack #1 by Joffrey Bienvenu</a></iframe>
